#
# Global cross-platform make settings
# - assume that autocfg.mk has already been included
#

#
# Tweakable settings
#
# OPT = optimizer settings for C compiler
#       -g == debugging
#       -O... == optimization
OPT = -g
# JUNK = extra files to get rid of when cleaning
JUNK = *~ so_locations .gdb_history .DS_Store
# RM = tool for removing files  -- "rm -f" should be fine on
#      most Unix boxes - only needed for cleaning
RM = rm -f
# Extension for shared-objects
SO = $(ACFG_SOEXT)

#
# Values below should largely be set automatically
# (CC can be overridden with the CC environment variable
#  when autocfg is run)
#
CC = $(ACFG_CC)
LD = $(ACFG_LD)
AR = $(ACFG_AR)
CFLAGS = $(ACFG_CFLAGS)
ifneq (PREFIX,)
CFLAGS += -DPREFIX=$(PREFIX)
endif
CCLD = $(CC) $(OPT)
SHLD = $(ACFG_SHLD)
MODLD = $(ACFG_MODLD)
RANLIB = $(ACFG_RANLIB)
CP = $(ACFG_CP)
