% This is an input file for the new trike experiment. Lines are either comments
% (they start with the '%' symbol in column 1, or they define the input.
% The first such input is the number of conditions in this file.
4
% Following this, there are 5 lines (possibly with comment lines added)
% defining one condition per line. The format of each condition is
%
% (velocity|acceleration) (real|simulated) motion flickering? dist is-vis?
% where the trial is either a constant velocity or constant acceleration
% trial, runs either with input from the trike encoders or is simulated.
% motion is either acceleration or velocity (in m/s/s or m/s) for simulated
% conditions, flickering? is either 1 or 0 indicated that the walls flicker
% (or not), dist is the distance (in m) to the target, and is-vis? is
% either 1 or 0 indicating that the target always remains visible.
%
% as this is a demo input, is-vis is always true
velocity real 0.06 1 10.0 1
acceleration real 0.01 0 20.0 1
velocity real 0.06 0 10.0 1
acceleration real 0.01 1 20.0 1
