CC = cc
# optimization flags: -g for debugging, -O for optimization
OPT = -g
AR = ar
RANLIB = /bin/true
RM = rm -f
LD = ld
# How to get LD to build a shared object
# SGI:
SHLD = $(LD) -shared
# Sun:
# SHLD = $(LD) -G

#VEROOT=/cs/home/matt/src/ve-2.1.1
INCDIR=$(VEROOT)/include
LIBDIR=$(VEROOT)/lib
#TXM=/Users/matt/src/txm
TXM=/cs/home/matt/src/txm

CFLAGS=$(OPT) -I$(INCDIR) -I$(TXM)
LDFLAGS=$(OPT) -L$(LIBDIR) -L$(TXM) -Wl,-rpath,$(LIBDIR)
# -Wl,-rpath,$(LIBDIR)


VELIBS=-lveglx -lve -lveclock -lGLU -lGL -ljpeg -lpthread -lm
#VELIBS=-lveagl -lve -lveclock -lpthread -lm -framework AGL -framework OpenGL -framework DrawSprocket -framework Carbon
